{
    "parser": "babel-eslint",
    // "extends": ["plugin:prettier/recommended"],
    "extends": ["airbnb", "prettier", "prettier/react", "wesbos"],
    "plugins": ["prettier"],

    "rules": {
        "prettier/prettier": "warn"
    }
}
